src/main/mule/world-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="17d86fbf-f140-47aa-ad49-21b8feb5986a" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="57c6356a-13a8-4697-a746-a3f28ef3b24b" basePath="/api/timezone/" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-demo-apiFlow" doc:id="9efd80a3-c65b-49a3-b4f4-8a128721b392" >
		<http:listener doc:name="Listener" doc:id="4dc6a131-a302-4be1-9b30-484f3db78c29" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="79946db1-24bc-4877-8a22-2db32dae2cf7" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
